@import '../../../../../styles/variables';

.search-input {
    .input-group-text {
        font-size: $text-size * .75 !important;
        background: none;
        border-right: none;
    }
    
    .form-control {
        font-size: $text-size * .75 !important;
        padding: .5rem 0;
        border-left: none;
    }
}